body{
	background:#000000;
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#ffffff;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif; color:#ffffff;}
h2{font: 400 30px/32px 'Bree Serif', Georgia, serif; color:#ffffff;}
h3{font: 400 20px/24px 'Bree Serif', Georgia, serif; color:#ffffff;}
p{font-size:17px;}

ul{list-style-type: square; margin-left: 0; margin-right: 0; padding: 0;font-size:17px;}
li{margin-left: 15.0pt;font-size:17px;}
.nopoint {margin:0px; padding:0px;}
.nopoint li {margin:0px; padding:0px;}

a {text-decoration:none; color:#ffffff;}
a:hover {color:#00F8FB;}

a img{border:0px;}

#container{
	width:100%;
	margin:0px auto 300px auto;
	background:url(images/body-bg.png);
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:100%;
	height:80px;
	background-color:#0a0353;
	padding:0px 0px;
	position: fixed;
	top:0px;
	margin: 0 0 0 0px;
}
#header #logo{
	position: absolute;
	float:left;
	justify-content:center;
	height:80px;
}
#header #logo img{
	height:80px;
}
#header #main-menu{float:right; padding-top:15px;padding-right:25px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 17px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}
#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}
#about img{
	width: 25%;
	height: 25%;
	border-radius: 50%;
}
.contentcentertext{
	overflow:auto;
	display: flex;
	flex-flow:column;
	text-align: center;
	justify-content:center;
}

/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{
	margin:0px 43px;
	padding-top:115px;
}
#experiences {
	display:flex;
	justify-content: space-between;
}
#experience .col{
	width:100%;
	float:left;
}
#experience .row{
	width:33%;
	float:left;
	flex-flow:row;
	text-align: left;
	justify-content:left;
	
}

#experience .content{overflow:auto;	display: flex;
	flex-flow:row;
	text-align: left;
	justify-content:center;
justify-content: space-around;	}
	
#experience .col-mid{margin:0px 65px;}

/****************************************************/
/* PROJECT/WORK SECTION */
/****************************************************/

#work{margin:0px 43px; padding-top:115px;}

#work .content{overflow:auto;}
.project {
	overflow:auto;
	display: flex;
	flex-flow:row;
	
	text-align: left;
	justify-content:left;
	border-bottom: 3px solid black;
}
.project div{
	width:40%;
	margin:0;
	padding:0;
}
.project div:first-child{
	width:60%;
	margin:0;
	padding:0;
}
iframe{
	width:100%;
}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:115px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#000000;
	padding:10px 10px 10px 30px;
	font: 400 17px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#000000;
}

#connect #form input.name{background:#ffffff url(images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:#ffffff url(images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:#ffffff url(images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#00ffff;
	color:#000000;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#connect #social-footer{
	width:300px;
	float:left;
	margin-left:25px;
}
#connect #social-footer #sm-links{margin-top:25px;}
#connect #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#connect #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:5px;
}
#connect #social-footer #sm-links li a.youtube{background:url(images/sm-youtube-icon.png) no-repeat; width:28px;}
#connect #social-footer #sm-links li a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider{
	width:50%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}

/*smartphone use*/

@media (max-width: 600px) {
   #main-menu ul{
	   display:none;
	   width:0px;
   }
   #container div{
	   margin:0;
   }
   #experiences  {
	width:100%;
	float:left;
	flex-flow:column;
	text-align: center;
	justify-content:space-around;
   }
   #experiences .row{
	 flex-flow:column;
	 width:100%;
   }
   #experiences .col{
	 width:100%;
   }
   .project {
	overflow:auto;
	display: flex;
	flex-flow:column;
	
	text-align: left;
	justify-content:left;
	border-bottom: 3px solid black;
	width:100%;
	}
   
   .project div , .project div:first-child{
		width:100%;
	}
	.project div *{
		width:100%;
	}
	#header #main-menu{width:100%;display:flex;flex-flow:row;justify-content:space-evenly;padding-top:15px;}
	#header #main-menu li{
	list-style:none;
	margin:0;
	font: 400 17px/20px 'Bree Serif', Georgia, serif;
	}
	#header #logo img{
		display:none;
	}
	#about img{
	width: 50%;
	height: 50%;
	border-radius: 50%;
}
}